li {
	display: inline;
}
li>a{
	text-decoration: none;
	background-color: #fafafa;
	padding: 10px;
}
li>a:hover{
	background-color: #a0a0a0;
}
@media only screen and (max-width: 1024px){
.cuatro{
	display: none;
}
}
@media only screen and (max-width: 768px){
.tres{
	display: none;
}
}
@media only screen and (max-width: 480px){
.dos{
	display: none;
}
}